<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @store.description %>
</p>

<p>
  <strong>Codename:</strong>
  <%= @store.codename %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @store.kind %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
