<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Super user:</strong>
  <%= @user.super_user %>
</p>

<p>
  <strong>Office:</strong>
  <%= @user.office %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
